html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.4444rem;
  padding-top: 0px;
}

.footer {
  max-width: 960px;
  padding: 0.5rem 1.4444rem 0.5rem 1.444rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.main-content {
  padding-right: 24px;
}

/* Common CSS */

.margin-0 {
    margin: 0px;
}

.margin-left-0 {
    margin-left: 0px;
}

.margin-top-0 {
    margin-top: 0px;
}

.margin-right-0 {
    margin-right: 0px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.padding-0 {
    padding: 0px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-top-0 {
    padding-top: 0px;
}

.padding-right-0 {
    padding-left: 0px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

/*10px*/
.margin-10 {
    margin: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.padding-10 {
    padding: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-right-10 {
    padding-left: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}


/*20px*/
.margin-20 {
    margin: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-20 {
    padding: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-right-20 {
    padding-left: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}